# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Poetry

# VS Code
.vscode/

# macOS
.DS_Store

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# FastAPI
instance/
.webassets-cache

# Logs
*.log
